* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}

:root{
    --clr-primary-1:#f28ab2;
}
.main {
  height: 100vh;
  width: 100%;
  background-color: var(--clr-primary-1);
  padding-top: 150px;
  display: flex;
  justify-content: center;
}

.birthdays {
  background-color: white;
  width: 40vh;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  border-radius: 0.25rem;
  text-align: center;
  
}

.birthdays h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-top: 5px;
    letter-spacing: 2px;
}

.userDetails {
  display: flex;
  column-gap: 15px;
  margin-left: 30%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.image img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.details {
}

.details h1 {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  letter-spacing: 2px;
}

.details p {
  color: black;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  

}
.btn {
  width: 100%;
  height: 5vh;
  margin-bottom: 50px;
  background-color: var(--clr-primary-1);
  border: hidden;
  color:white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 2px;
}
.newField {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.newField input {
  height: 50px;
}

.newField input:hover {
  background-color: firebrick;
}
